body {
    margin: 0px;
    background-repeat: no-repeat;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#box {
    background-image: url(image/font1.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    height: 800px;
    width: 100%;
    max-width: 1440px;
}

.box2{
    display: flex;
    flex-direction: column;
 
}

#huddle {
    width: 150px;
    height: auto;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 88px;
}

.image {
    width: 673px;
    height: 484px;
    margin-top: 0px;
    margin-left: 80px;
    border-radius: 13.7px;
}

#aligne {
    margin-top: 0px;
    display: flex;
}

h1 {
    margin-left: 76px;
    box-sizing: content-box;
    width: 487px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;  
    line-height: 60px;
}

.para {
   display: flex; 
   color: #fff; 
}

#bloc {
    box-sizing: content-box;
    margin-left: 76px;
    width: 520px;
    top: 144px;
    margin-right: 92px;
}

#text { 
    
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

footer {
    width: 152px;
    height: 40px;
    top: 721px;
    left: 1208px;
    margin-left: 1208px;
    margin-right: 20px;
    padding-bottom: 50px;
}

.logo {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.button{
    margin-left: 82px;
    margin-top: 27px;
    color: #684bb1;
    border: none;
    border-radius: 2.1875rem;
    cursor: pointer;
    border:#f2f2f2 solid 0.125rem;
    width: 200px;
    height: 56px;   
}
    
button:hover{
    background-color: #e880e8;
    border-radius: 25.008px;
    color: #ffffff;
    margin-bottom: 50px;
}

.logo:hover{
    background: transparent;
    filter: brightness(50%) sepia(100%) hue-rotate(232.5deg) saturate(600%) contrast(1);
    color: #200620;
}

@media screen and (min-width: 375px) and (max-width: 667px)
{  
    body {
    margin-top: 0px;
    padding-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block; }

    #huddle {
    width: 120px;
    font-size: 25px; 
    /* padding-left: 0px; */
    margin: 40px 40px 0; }

    #bloc {
    width: 100%;
    margin-left: 0%;
    text-align: center; }
   
    #box {
        background-size: cover;
    background-image: url(image/font.png); 
    background-position: top;    
    box-sizing: border-box;
    width: 100%;
    height: 900px; }
      
    .image {
    width: 296px;
    height: 209px;
    margin-left: 50px;
    margin-top: 50px; }    
    #aligne {
    flex-direction: column; }

    #aligne img {
    display: flex;
    flex-direction: row;
    margin: 40px 40px 0px; }
     
    #text h1{
    line-height: 36px;
    text-align: center;
    width: 280px;
    margin-left: 50px;
    font-size: 24px;
    font-family:'Open Sans', sans-serif; } 

    #bloc.para { 
    margin-left: 40;
    column-count: auto;
    text-align: center;
    font-size: 16px; }
    
    .para {
    font-family:'Open Sans';    
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: 0px; }
 
    .button {   
        display: block;
        margin-left: auto;
        margin-right: auto;  
    color: #684bb1;
    border: none;
    border-radius: 2.1875rem;
    cursor: pointer;
    border:#f2f2f2 solid 0.125rem;
    height: 42.06px;
    width: 200px;
    bottom: 657.94px; }
       
    footer {
    margin-top: 10px;
    margin-left: 120px; }
   
    p.logo {
    width: 103.14px;
    height: 29.47px; 
    }
}











