@font-face {
    font-family: 'Roboto-Regular';
    src: url(font/Roboto-Regular.woff) format('woff'), 
    url(font/Roboto-Regular.woff2) format('woff2'); 
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(font/Inter-Regular.woff) format('woff'),
    url(font/Inter-Regular.woff2) format('woff2');
}

main {
    width: 1860px;
    height: 6536px; 
}

/* <!-- First Section --> */

#FirstSection {
    background-image: url(image/backgroundSection1.svg);
    background-repeat: no-repeat;
    background-color: #232323;
    height: 1087px;
}

.header {
    height: 84px;
    color: #ffff;
    display: flex;
    padding-top: 30px;
}

.header > p {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 1.5rem;
}

.header > p:first-child {
    padding-left: 93px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

.header > p:nth-child(2) {
    padding-left: 46px;
    padding-right: 81px;
}

.header > p:nth-child(2) > img {
    margin-right: 7px;
}

.header > p:last-child > img {
    margin-right: 13px;
}

.LeftPart {
    width: 616px;
    height: 759px;
    margin-left: 393px;
    margin-top: 35px;
    margin-right: 72px;
    margin-bottom: 15px;
}

.LeftPart > p:first-child {
    font-family: 'Roboto-Regular', sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #ffff;
    padding-top: 10px;
}

.LeftPart > h1 {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 4.5rem;
    line-height: 100.8px;
    margin: 0;
}

.LeftPart > h1:nth-child(2) {
    font-weight: 400;
    letter-spacing: -3px;
    color: #ffff;
    padding-top: 25px;
}

h1::first-letter {
    text-transform: uppercase;
}

.LeftPart > h1:nth-child(3) {
    letter-spacing: -1px;
    color: #F87F28;
}

.LeftPart > p:nth-child(4) {
    font-family: 'Inetr-Regular', sans-serif;
    color: #ffff;
    text-transform: capitalize;
    padding-top: 16px;
    width: 369px;
}

.LeftPart > p:nth-child(5) {
    font-family: 'Inter-Regular', sans-serif;
    color: #ffff;
    padding-top: 24px;
}

p::first-letter {
    text-transform: uppercase; 
}

button {
    margin-top: 60px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 0.875rem;
}

.click {
    background-color: #BB2323;
    color: #ffff;
    width: 123px;
    height: 47px;
    border-radius: 50px;
    margin-right: 23px;
    border: none;
}

.click2 {
    background-color: #232323;
    border-color: #F87F28;
    border-style: solid;
    color: #F87F28;
    border-radius: 50px;
    width: 131px;
    height: 47px;
}

#FirstPart {
    display: flex; 
}

#Familly {
    margin-bottom: 30px;
}

#clients {
    font-family: 'Roboto-Regular', sans-serif;
    letter-spacing: 0.1875rem;
    color: #BFBFBF;
    text-transform: uppercase;
    text-align: center;
    padding-left: 25px;
}

#RightPart {
    margin-top: 33px;
}

#FooterFirstBlock {
    display: flex;
    justify-content: center;
    padding-left: 25px;
}

.game {
    display: flex;
}

.sega {
    padding-right: 62px;
    margin-top: 30px;
}

.game2 {
    display: flex;
}

.microsoft {
    padding-right: 15.15px;
    padding-left: 20.5px;    
}

.game3 {
    display: flex;
    margin-top: 35px;
}

.capcom {
    padding-right: 40px;
    padding-left: 34px;
}

@media screen and (max-width:375px) {
    
}

/* <!-- Second Section --> */

#header2, #skills {
    width: 429px;
    height: 153px;
    color: #ffff;
    font-family: 'Inter-Regular', sans-serif;
    text-align: center;
    justify-content: center;
    margin-left: 720px;
    margin-top: 205px;
}

#Skills, h2 {
    font-weight: 600;
    font-size: 2.25rem;
    margin: 0;
}

#Skills, p {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0;
    line-height: 24px;
}

#SecondSection {
    margin-top: 116px;
    display: flex;
    font-family: 'Inter-Regular', sans-serif;
    width: 1055px;
    height: 182px;
    margin-left: 450px;
    color: #ffff;
}

.Skills2 {
    width: 172px;
    height: 182px;
    padding-right: 112px;
}

.Technical {
    background-color: #ffff;
    padding: 14px 16px 18px 16px;
    border-radius: 18px;
}

.Skills2 h4 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding-top: 16px;
}

.Skills2 p:last-child {
    width: 172px;
    height: 72px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: #767E90;
}

.Skills3 {
    width: 172px;
    height: 182px; 
    padding-right: 112px;
}

.Pen {
    background-color: #ffff;
    padding: 14px 16px 18px 16px;
    border-radius: 18px;
}

.Skills3 h4 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding-top: 16px;
}

.Skills3 p:last-child {
    width: 172px;
    height: 72px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: #767E90;
}

.Skills4 {
    width: 172px;
    height: 182px;
    padding-right: 112px;
}

.Star {
    background-color: #ffff;
    padding: 14px 16px 18px 16px;
    border-radius: 18px;
}

.Skills4 h4 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding-top: 16px;
}

.Skills4 p:last-child {
    width: 172px;
    height: 72px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: #767E90;
}

.Skills5 {
    width: 172px;
    height: 182px;
}

.Networks {
    background-color: #ffff;
    padding: 14px 16px 18px 16px;
    border-radius: 18px;
}

.Skills5 h4 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding-top: 16px;
}

.Skills5 p:last-child {
    width: 172px;
    height: 72px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: #767E90;
}

@media screen and (max-width:375px) {
    
}

/* <!-- Third Section --> */

@media screen and (max-width:375px) {
    
}

/* <!-- Middle Third Section --> */

@media screen and (max-width:375px) {
    
}

/* <!-- Bottom Third Section --> */
